html body {
    background-color: black;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#bg-app {
    aspect-ratio: 3 / 2;

    min-width: 300px;
    min-height: 100px;

    width: 100%;
    height: auto;

    outline: 1px solid blue;
}
