html body {
    background-color: black;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 10px;
}

#bg-app {
    width: 1000px;
    height: 1000px;
    border: 1px solid red;
}